$baseURL: "/anthologia/site-colloque/";
// Variables
$body-color: #ffffff;
$primary-color: #121149;
$secondary-color: #7c7491;
$border-color:#e5e5e5;
$primary-font: Alegreya, serif;
$secondary-font: Alegreya, serif;
$text-color: #848484;
$gray: #eae9ec;
$light-gray: #fafafa;
$light: #fff;
$black: #222222;
$icon-font: FontAwesome;
