.main-nav {
  background: $light;
  @include tablet {
    position: relative;
  }

  .navbar-brand {
    padding: .75rem;
    border-right: 1px solid $border-color;
    color: #000;
    @include large-desktop {
      padding: 20px 30px;
    }
    @include tablet {
      border-right: none;
    }

    transition: background-color .3s;

    &:hover {
      background-color: $primary-color;
      color: #fff;
    }

    > svg {
      max-width: 50px;
    }
  }

  .navbar-nav {
    align-items: center;

    .nav-item {
      position: relative;
      font-family: $primary-font;

      /* add a separator between nav items */
      &:not(:last-child) {
        &::after {
          content: '/';
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          position: absolute;
          height: 100%;
          left: 100%;
          width: 1em;
          margin-left: -.5em;
          top: 0;
          color: $black;
          pointer-events: none;
          opacity: .5;

          /* No separator in responsive menu*/
          @include tablet {
            display: none;
          }
        }
      }

      .nav-link {
        position: relative;
        text-align: center;
        color: $black;
        padding: .75rem 1.25rem; /* leave horizontal space for separator */
        font-size: 1.125rem;
        font-family: $secondary-font;
        &:hover {
          opacity: .67;
        }
        @include large-desktop {
        }
      }

      &.active {
        .nav-link {
          color: $primary-color;
        }
      }
    }
  }

  .dropdown-slide {
    position: static;

    .open > a, .open > a:focus, .open > a:hover {
      background: transparent;
    }

    &.full-width {
      .dropdown-menu {
        left: 0 !important;
        right: 0 !important;
      }
    }

    &:hover .dropdown-menu {
      border-top: 3px solid $primary-color;
      display: none;
      opacity: 1;
      display: block;
      transform: translate(0px, 0px);
      opacity: 1;
      visibility: visible;
      color: #777;
      transform: translateY(0px);
    }

    .dropdown-menu {
      min-width: 220px;

      .dropdown-item {
        font-size: 15px;
        padding: 10px 0;
        transition: .3s ease;

        &:not(:last-child) {
          border-bottom: 1px solid $border-color;
        }

        &:hover {
          background: $light;
          color: $primary-color;
        }
      }

      margin-top: 0;
      border-radius: 0;
      opacity: 1;
      visibility: visible;
      position: absolute;
      padding: 5px 15px;
      border: 1px solid #ebebeb;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
      transition: .3s all;
      position: absolute;
      display: block;
      visibility: hidden;
      opacity: 0;
      transform: translateY(30px);
      transition: visibility 0.2s, opacity 0.2s, transform 500ms cubic-bezier(0.43, 0.26, 0.11, 0.99);
      @include desktop-sm {
        transform: none;
        left: auto;
        position: relative;
        text-align: center;
        opacity: 1;
        visibility: visible;
      }
    }
  }

  .ticket {
    background: $primary-color;
    display: block;
    padding: 34px 32px;
    @include large-desktop {
      padding: 23px 14px;
    }
    @include desktop-sm {
      text-align: center;
    }

    img {
      margin-right: 25px;
      @include large-desktop {
        display: none;
      }
    }

    span {
      color: $light;
      font-size: 1.125rem;
      text-transform: uppercase;
      font-family: $secondary-font;
      border-left: 1px solid #ffa366;
      padding-left: 24px;
      @include large-desktop {
        padding-left: 0;
        font-size: 1rem;
        border-left: none;
      }
    }
  }
}

/* recopier certains styles de .nav-item */
.nav-lang-switcher {
  display: block;
  text-align: center;
  padding: 1rem;
}

.nav-lang-separator {
  opacity: .25;
  margin: 0 .5em;
}

.nav-lang-link {
  color: $black;

  &:hover {
    opacity: .67;
  }

  &[aria-current] {
    font-weight: bold;
    &:hover {
      opacity: inherit;
    }
  }
}

// bootstrap override
.navbar-toggler:focus, .navbar-toggler:hover {
  outline: none;
}

// Nav Scroll
// .navbar-collapse{
// 	&.show{
// 		@include desktop{
// 			overflow-y: scroll;
// 		}
// 	}
// }
