{{ "<!-- navigation -->" | safeHTML }}
<nav class="navbar main-nav fixed-top navbar-expand-lg p-0">
  <div class="container-fluid p-0">
    <!-- logo -->
    <a
      class="navbar-brand"
      href="{{ site.BaseURL | relLangURL }}"
      title="{{ i18n "Home" }}"
    >
      {{ partial "ecritures-numeriques-empreinte-web.svg" . }}
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="fa fa-bars"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mx-auto">

        {{ range site.Menus.main }}
        {{ if .HasChildren }}
        <li class="nav-item dropdown dropdown-slide">
          <a class="nav-link" href="#" data-toggle="dropdown">{{.Name}}
          </a>
          <!-- Dropdown list -->
          <div class="dropdown-menu">
            {{ range .Children }}
            <a class="dropdown-item"
              href="{{if .Pre}}{{site.BaseURL | absLangURL}}{{.Pre}}{{ .URL }}{{else}}{{.URL | absLangURL}}{{end}}">{{.Name}}</a>
            {{end}}
          </div>
        </li>
        {{ else }}
        <li class="nav-item">
          <a class="nav-link"
            href="{{if .Pre}}{{site.BaseURL | absLangURL}}{{.Pre}}{{ .URL }}{{else}}{{.URL | absLangURL}}{{end}}">{{.Name}}
          </a>
        </li>
        {{ end }}
        {{ end }}

      </ul>

      {{/* Lang switcher */}}
      {{- $siteLanguages := .Site.Languages -}}
      {{- if gt (len $siteLanguages) 1 -}}
      <div class="nav-lang-switcher">
        {{- $currentPage := $.Page -}}
        {{- $pageLang := $currentPage.Lang -}}
        {{- range $index, $homeLanguage := $.Site.Home.AllTranslations -}}
        {{- if gt $index 0 -}}
        <span role="separator" class="nav-lang-separator">/</span>
        {{- end -}}

        <a
          title="{{ $homeLanguage.Lang }}" class="nav-lang-link"
          {{ if eq $pageLang .Lang }}aria-current{{ end }}
          href="{{ if $currentPage.IsTranslated  }}{{ range where $currentPage.Translations "Lang" $homeLanguage.Lang }}{{ .Permalink }}{{ end }}{{ else }}{{ $homeLanguage.Permalink }}{{ end }}"
        >
        {{- $homeLanguage.Lang -}}
        </a>
        {{- end -}}
      </div>
      {{- end -}}
      {{ if site.Params.navigation_button.enable }}
      <a href="{{ site.Params.navigation_button.link | absURL }}" class="ticket">
        <img src="{{site.Params.navigation_button.icon | absURL }}" alt="ticket">
        <span>{{ site.Params.navigation_button.label }}</span>
      </a>
      {{end}}
    </div>
  </div>
</nav>
{{ "<!-- /navigation -->" | safeHTML }}
